body {
  font-family: 'nanumsquare';
}

.App {
  display: flex;
  /*
  flex는 직계 자식에게만 영향을 준다
  직계 자식은 flex item으로써 동작함

  기존의 inline/ block 모델과는 다른 모델임
  따라서 inline/block 속성은 영향을 주지 못함
  flex와 관련된 속성만 영향을 받게됨
  */
  flex-direction: column;
  /*flex의 자식 요소 세로 정렬*/

  justify-content: center;
  /*가로축 정렬*/
  align-items: center;
  /*세로축 정렬*/

  width: 100vw;
  height: 100vh;

}



.header {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;

  color: white;
  background-color: black;

  font-weight: 600;
}


.body {
  display: flex;
  flex-direction: row;


  box-sizing: border-box;
  width: 100%;
  height: 90%;
  padding: 10px;

  justify-content: space-between;

  color: white;
  background-color: grey;




}

.body div {
  background-color: rgb(54, 52, 52);
}

.bdyContent {

  width: 80%;

  background-color: rgb(121, 143, 190) !important;
}

.footer {
  box-sizing: border-box;


  width: 100%;

  text-align: center;


  color: white;
  background-color: rgb(90, 90, 90);
}